<%- include('header') %>

    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel" >
        <div class="carousel-indicators bg-secondary bg-opacity-25">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner img-slider" >
            <div class="carousel-item active" style="height:600px;">
                <img src="../images/chicken.png" class="d-block w-50" alt="...">
            </div>
            <div class="carousel-item" style="height:600px;">
                <img  src="../images/burger.png" class="d-block w-50" alt="...">
            </div>
            <div class="carousel-item" style="height:600px;">
                <img  src="../images/noodle.png" class="d-block w-50" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-secondary bg-opacity-25" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-secondary bg-opacity-25" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- End of Carousel -->
    </div>
    <!-- End of Container -->

    <!-- Menu -->
    <div class = "menu text-center p-4">
        <h1 class="text-warning fw-bold">Menu</h1>
        <!-- container -->
        <div class="container">
            <div class="row d-flex justify-content-center mb-4">
                <div class="col-8">
                    <p class="menu-info">From small bites to big meals, we won't limit your appetite. Go ahead and order all you want.</p>
                </div> 
            </div>  

            <div class="row d-flex justify-content-center">

                <% foods.forEach(food => { %>
                <div class="col-4 d-flex justify-content-center mb-5">
                    <div class="card bg-light" style="width: 18rem;">
                        <img class="card-img-top" src="../images/<%= food.image%>" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title">ID : <%= food.id%></h6>
                            <h5 class="card-title"><%= food.name%></h5>
                            <p class="card-text">Rp. <%= (food.price)/1000%></p>
                            <a href="/customers/login" class="btn btn-warning shadow-lg text-white">Order Now !</a>
                        </div>
                    </div>
                </div> 
                <%}) %>
            </div>                 
        </div>
        <!-- end of container -->
    </div>
    <!-- end of menu -->

<%- include('footer') %>